{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}





<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

      <div class="card">
        <h5 class="card-header">{% trans "Sign Out" %}</h5>
        <div class="card-body">
          <h5 class="card-title">{% trans 'Are you sure you want to sign out?' %}</h5>
          <p class="card-text">
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-outline-danger btn-lg offset-md-8">{% trans 'Sign Out' %}</button>
          </form>
        </p>
        </div>
      </div>

      
      

      
    </div>
  </div>
</div>
{% endblock %}