html,
body {
    height: 100vh;
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
    width: 100%;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main {
    min-height: 90vh;
}

.logo {
    width: 10vh;
}

.msg-alert {
    position: absolute;
    top: 5px;
    left: 20%;
    right: 20%;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card-header {
    background-color: #197BBD;
    color: white;
}

.signup label {
   display: none;
}

.signup input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(74, 139, 238);
    outline: none;
    background: transparent;
}

.login input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgb(74, 139, 238);
    outline: none;
    background: transparent;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.thread-author {
    color: rgb(230, 230, 230);
    margin: 4px;
}

.thread-title {
    margin: 10px 0px 0px 10px;
}

.thread-rest {
    font-size: small;
    font-weight: 100;
    margin: 0 10px;
}

.current {
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.edit-thread label {
    display: none;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

footer {
    background-color: #F9FAFC;
    border-radius: 4px 4px 0 0;
    position: relative;
    clear: both;
    margin: 0 auto;
    height: 5vh;
    min-height: 60px;
    box-sizing: border-box;
    display: table-row;
    min-height:50px;
}

.social {
    color: #445261;
    padding: 3px 0;
    margin: 0 auto;
    text-align: center;
}

.social a {
    color: #445261;
    margin: 5px;
    font-size: 150%;
    transition: 0.5s;
}

.social a:hover {
    color: #197BBD;
}

.copyright {
    text-align: right;
    padding: 0 15px;
}

.copyright p {
    font-size: 65%;
    color: #445261;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1400px) {

    img {
        max-width: 100%;
        max-height: 100%;
    }
}