{% extends "base.html" %}
{% block title %} Add a new thread {% endblock %}
{% block content %}

{% if user.is_authenticated %}

<div class="container col-md-6">
    <div class="row">
        <h1> add a new thread </h1>
        <div class="form-group">
            
            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}
                <button class="btn btn-secondary"> create a new thread </button>

            </form>

            <p><label>Title <input type="text" id="title"></label>
                <p><label>Slug <input type="text" id="slug"></label>
        </div>
    </div>
</div>
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
<script>
    function slugify(s) {
        return s
            .toLowerCase()
            .replace(/[^-\w\s]/g, "") // remove non-alphanumerics
            .trim()
            .replace(/[-\s]+/g, "-") // spaces to hyphens
            .replace(/-+$/g, ""); // trim trailing hyphens
    }

    function slugAutoFill() {
        var titleInput = document.querySelector('#title');
        var slugInput = document.querySelector('#slug');
        if (!titleInput) {
            return;
        }
        let slugManuallyEdited = false;
        slugInput.addEventListener('change', () => {
            slugManuallyEdited = !!slugInput.value;
        });

        function titleEdited() {
            if (slugManuallyEdited) {
                return;
            }
            slugInput.value = slugify(titleInput.value);
        }
        titleInput.addEventListener('change', titleEdited);
        titleInput.addEventListener('focus', titleEdited);
        titleInput.addEventListener('keyup', titleEdited);
    }
    slugAutoFill();
</script>
{%endblock%}