{% extends "base.html" %}
{% block title %} Delete post {% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if user|stringformat:"s" == post.name|stringformat:"s" %}
<div class="container-sm">
    <div class="row">
        <h5 class="card-header m-2"> Delete Post </h5>
        <p> Are you sure you want to delete this post: <br /><span class="badge bg-danger">{{ post.body }}</span></p>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}


                <button class="btn btn-danger offset-md-8"> Delete post </button>

            </form>
        </div>
    </div>
</div>
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
{%endblock%}