{% extends "base.html" %}
{% block title %} Delete thread {% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == thread.author.id %}
<div class="container-sm">
    <div class="row">
        <h5 class="card-header m-2"> Delete Thread </h5>
            <p>Are you sure you want to delete <span class="badge bg-danger">{{ thread.title }}</span></p>
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}

                    <button class="btn btn-danger offset-md-8"> Delete thread </button>

                </form>
            </div>
    </div>
</div>
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
{%endblock%}