{% extends "base.html" %}

{% block content %}

    <div class="container col-md-6">
        <div class="row">
<div class="container-fluid">
    {% if user.is_authenticated %}
    <div>
        <a href="{% url 'add_thread' %}">new thread</a>
    </div>
    {% endif %}
    {% for thread in thread_list %}
            <div class="thread-row">
                <div class="col-md-12">
                    <a href="{% url 'thread_detail' thread.slug %}" class="post-link">
                        <p class="thread-title">{{ thread.title }}</p>
                        <p class="thread-rest">by: {{ thread.author }} {{ thread.created_on}} 
                        
                        <i class="fa-solid fa-thumbs-up"></i> {{ thread.number_of_upvotes }} | 
                        <i class="fa-solid fa-thumbs-down"></i>
                        {{ thread.number_of_downvotes }}
                        
                        {% if user.is_authenticated %}
                        <button class="btn btn-secondary"><a href="{% url 'update_thread' thread.slug %}">edit</a></button>
                        {% endif %}
                        </p>
                        
                       
                    </a>
                </div>
            </div>
    {% endfor %}
</div>
</div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>

<div>
    <a href="{% url 'add_thread' %}">new thread</a>
</div>
{% endif %}
{%endblock%}