{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}


<div class="container">
<div class="col-md-12">
    <h2>{{ thread.title}} </h2> <i class="fa-solid fa-user"></i> {{thread.author }} <i class="fa-regular fa-clock"></i>
    {{thread.created_on }}
</div>
</div>



<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text "> {{ thread.content | safe }}</p>
                <div class="row">

                    <div class="col-2">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'thread_upvote' thread.slug %}" method="POST">
                                {% csrf_token %}
                                {% if upvotes %}
                                <button type="submit" name="forumthread_id" value="{{thread.slug}}" class="btn-like">
                                    <i class="fa-solid fa-thumbs-up"></i> {{ thread.number_of_upvotes }}
                                </button>
                                {% else %}
                                <button type="submit" name="forumthread_id" value="{{thread.slug}}" class="btn-like">
                                    <i class="fa-regular fa-thumbs-up"></i> {{ thread.number_of_upvotes }}
                                </button>
                                {% endif %}
                            </form>

                            <form class="d-inline" action="{% url 'thread_downvote' thread.slug %}" method="POST">
                                {% csrf_token %}
                                {% if downvotes %}
                                <button type="submit" name="forumthread_id" value="{{thread.slug}}" class="btn-like">
                                    <i class="fa-solid fa-thumbs-down"></i> {{ thread.number_of_downvotes }}
                                </button>
                                {% else %}
                                <button type="submit" name="forumthread_id" value="{{thread.slug}}" class="btn-like">
                                    <i class="fa-regular fa-thumbs-down"></i> {{ thread.number_of_downvotes }}
                                </button>
                                {% endif %}

                            </form>
                        </strong>
                        {% else %}

                        <p>you need to be logged in to rate this thread</p>
                        <strong class="text-secondary"><i class="fa-solid fa-thumbs-up"></i>
                            {{ thread.number_of_upvotes }} | <i class="fa-solid fa-thumbs-down"></i>
                            {{ thread.number_of_downvotes }}</strong>

                        {% endif %}

                    </div>
                    <div class="col-1">
                        {% with posts.count as total_posts %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            x {{ total_posts }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Comments:</h3>
            <div class="inpost">
                <!-- We want a for loop inside the tags to iterate through each comment in comments -->
                page number {{ page.number }}
                {% for post in page_obj %}
                <div class="col-md-11 comments">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ post.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ post.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ post.body | linebreaks }}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card-body">
                <!-- For later -->

                {% if user.is_authenticated %}

                <h3>reply:</h3>
                <p>{{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em">
                    {{ post_form | crispy }}
                    {% csrf_token %}
                    <button type="submit">submit</button>
                </form>
                {% endif %}

            </div>
        </div>
    </div>
</div>



{% endblock content %}