{% extends "base.html" %}
{% block title %} Delete thread {% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if user|stringformat:"s" == post.name|stringformat:"s" %}
<div class="container col-md-6">
    <div class="row">
        <h1> Update Post </h1>
        <h2> Update: {{ post.id }} {{ post.body }}</h2>
        <div class="form-group">
            <form action="" method="POST">
                {% csrf_token %}

                {{ form.as_p }}
                <button class="btn btn-primary"> Update post </button>

            </form>
        </div>
    </div>
</div>
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
{%endblock%}