{% extends "base.html" %}
{% block title %} Update Thread {% endblock %}
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == thread.author.id %}
<div class="container col-md-6">
    <div class="row">
        <h1> You are now editing {{ thread.title }} </h1>
        <div class="form-group">
<form action="" method="POST">
{% csrf_token %}

{{ form.as_p }}
<button class="btn btn-secondary"> Update thread </button> <a href="{% url 'delete_thread' thread.slug %}" class="btn btn-danger">Delete</a>
</form>


        </div>
    </div>
</div>
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
{% else %}

<div class="container col-md-6">
    <h1> You are not supposed to be here! </h1>
</div>
{% endif %}
{%endblock%}